*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*shared styled*/
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
.logo h2{
  font-size: 45px;
  font: bolder;
  
}
.color-orange{
   color: #FD6E0A;
}
.btn{
   background-color: #FD6E0A;
   border: none;
   padding: 18px 35x;
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;
    color:white ;
    cursor: pointer;
}
/*main style */
header{
    background-color:#FFF8F3;
    padding-top: 51px;


    background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}

 nav{
  width: 71%;
max-width: 1140px;

/*border: 1px solid red;*/
margin: 0px auto;
display: flex;
justify-content:space-between ;
align-items: center;
}

nav .menu{
display: flex;
list-style-type: none;
gap: 51px
;
align-items: center;
}
nav.menu a{
  font-size: 20px;
  color: #474747;
}
#banner{
  /*border: 1px solid red;*/
  margin: 47px 38px  0px 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
   
}
#banner.banner-content h2{
  font-size: 45px;
  font-weight: 600px;
  color: #474747;
  margin: 5px;
}
#banner.banner-content h1{
  font: bold;
  font-size: 85;
  color: Dark 01;
  margin-bottom: 20px;

}
#banner.banner-content p{
  font-size: 18px;
  color:#757575;
  line-height: 30px;
  margin-left: 283px;
  margin-right: 732px;
  margin-top:395px ;
  margin-bottom:383px;
}
#banner.banner-image-img{

}
